<br>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">

  <div class="container">
    <h1> <strong><%= @list.name %></strong> </h1>
  </div>
</div>
<div class= "container d-flex justify-content-between">
  <p class="h2">Bookmarks</p>
  <%= link_to 'Add a movie', new_list_bookmark_path(@list), class: "btn btn-primary mt-1 mb-1" %>
</div>

<div class="container d-flex">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card mr-2" style="width: 34vh;">
       <img class="card-img-top" src=<%= bookmark.movie.poster_url %> alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <div class="text-center font-weight-bold">
           <h6><%= bookmark.movie.title %></h6> <br>
            </div>
               <div class="d-flex">
                  <p><strong>Rating: </strong></p>&nbsp<%= "â­" * bookmark.movie.rating %>
                    </div>
                      <p class="card-text"><%= bookmark.movie.overview %></p>
                        <div class="mt-auto d-flex justify-content-between">
                          <%= bookmark.comment%>
                            <%= link_to "Delete",
                              list_bookmark_path(@list, bookmark),class:"mt-auto align-self-endcard-link",
                                method: :delete,
                                  data: { confirm: "Are you sure?" } %>
                   </div>
           </div>
      </div>
    <% end %>
</div>
